<div class="wrapper">
			<!--===============header start==============-->
			<header id="content">
				<div class="container_1">
					<div class="logo">
						<h1>
							<a href="index.html">
								<img src="images/logo.png" alt="">
							</a>
						</h1>
					</div>
					<div class="right-side">
						<a href="index.html">
							LOG IN
						</a>
					</div>
				</div>
			</header>
			<!--===============header end==============-->

			<!--===============content start===========-->
			<section id="content">
				<div class="container_2">
					<div class="left_circle">
						<h1>
							Build credit <br/> <span> by </span> <br/> paying your rent
						</h1>
						<p>
							<a href="home.html" class="startNowBtn">
								Start Now
							</a>								
						</p>
					</div>
					<div class="container_vedio">
						<div class="vedio_content">
							<iframe width="544" height="315" src="http://www.youtube.com/embed/91-IeRGvwJ4" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</section>
			<!--===============content end=============-->
			
			<!--===============Menu start===========-->
			<section id="content">
				<div class="container_menu">
					<nav>
						<ul>
							<li>
								<a href="home.html">Home</a>
							</li>
							<li>
								<a href="home.html">General Info</a>
							</li>
							<li>
								<a href="home.html">How it Works</a>
							</li>
							<li>
								<a href="home.html">About Us</a>
							</li>
							<li>
								<a href="home.html">Contact Us</a>
							</li>
						</ul>
					</nav>
				</div>
			</section>
			<!--===============Menu end=============-->
			
			<!--===============bottom content start=-->
			<section id="content">
				<div class="bottom_bg">
					<div class="bottom_content">
						<h2 class="rules_bg">
							<span class="headerBottomBg">Change the Rules</span>
						</h2>
						<p>
							Credit Rocket, Inc ('CR') would like to build a website application for its primary business and transaction foundation. 
							The application is intended to allow renters to document and submit their rent payments to credit reporting agencies.
							Credit Rocket, Inc ('CR') would like to build a website application for its primary business and transaction foundation. 
						</p>
					</div>
					<div class="bottom_content">
						<h2 class="winInspire_bg">
							<span class="headerBottomBg">Change the Rules</span>
						</h2>
						<ul>
							<li>
								<a href="#">Pay your rent on-time, automatically </a>
							</li>
							<li>
								<a href="#">No late fees</a>
							</li>
							<li>
								<a href="#">No checks to write</a>
							</li>
							<li>
								<a href="#">Build your credit doing what you already do</a>
							</li>
							<li>
								<a href="#">Receive confirmation of each payment made</a>
							</li>
							<li>
								<a href="#">Each person on the lease can build credit</a>
							</li>
						</ul>
					</div>
					<div class="bottom_content">
						<img src="images/girl_img.png" alt="" class="people_img">
					</div>
				</div>
			</section>
			<!--===============bottom content end=-->
			
			<!--===============footer content start=-->
			<footer id="content">
				<div class="container_2">
					<div class="left_footer_content">
						&nbsp;
					</div>
					<div class="right_footer_content">
						<div class="footer_menu">
							<ul>
								<li>
									<a href="#">Contact Us</a>
								</li>
								<li>
									<a href="#">Privacy Policy</a>
								</li>
								<li>
									<a href="#">Terms & Conditions</a>
								</li>
							</ul>
						</div>
						<p>2012 (C) All Rights Reserved Credit Rockets</p>
					</div>
				</div>
			</footer>
			<!--===============footer content end=-->
			<br/>
		</div>